<div class="card h-100">
    <div class="card-header">
        <h5>Filter Reservations</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 mb-2">
                <label for="startDate" class="form-label">Start Date</label>
                <input type="date" id="startDate" class="form-control" />
            </div>
            <div class="col-md-6 mb-2">
                <label for="endDate" class="form-label">End Date</label>
                <input type="date" id="endDate" class="form-control" />
            </div>
            <div class="col-md-12 d-flex justify-content-end mt-2">
                <button id="filterBtn" class="btn btn-primary">Apply Filter</button>
            </div>
        </div>
    </div>
</div>
