<div class="card h-100">
    <div class="card-header">
        <h5>Fleet Distribution by Fuel Type</h5>
    </div>
    <div class="card-body">
        <canvas id="fuelTypeChart" height="260"></canvas>
    </div>
</div>
